*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.header{
    background: #FFF4E7;
  
   

}
.container{
    width: 1250px;
    margin: 0 auto;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50px;
}
.logo{
    font-size: 45px;
    color: #131313;
}
.nav ul{
    display: flex;
 /* gap: 30px; */
}
ul li{
    margin-right: 30px ;
}
 li a{
    font-size: 18px;
    color: #424242;
}

.architects-description{
    text-align: center;
    margin-top: 116px;
}
.header-title{
    font-size: 64px;
    color: #131313;
}
.header-description{
    color: #727272;
    margin-top: 30px;
}
.explore-btn{
    padding: 20px 24px;
    margin-top: 30px;
    color: #FFFFFF;
    font-size: 20px;
    background: #FF900E;
border-radius: 8px;
border: 0;
}
.banner{
    width: 1250px;
    height: 700px;
    margin-top: 50px;
}
.banner img{
    width: 100%;
}