*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.header{

}
.container{
    width: 1250px;
    margin: 0 auto;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.logo{
    font-size: 45px;
    color: #131313;
}
.nav ul{
    display: flex;
 /* gap: 30px; */
}
ul li{
    margin-right: 30px ;
}
 li a{
    font-size: 18px;
    color: #424242;
}