*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
.header{
    background: #FFF4E7;
  
   

}
.container{
    width: 1150px;
    margin: 0 auto;

}
.second-container{
    width: 1050px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50px;
}
.logo{
    font-size: 45px;
    color: #131313;
}
.nav ul{
    display: flex;
 /* gap: 30px; */
}
ul li{
    margin-right: 30px ;
}
 li a{
    font-size: 18px;
    color: #424242;
}

.architects-description{
    text-align: center;
    margin-top: 116px;
}
.header-title{
    font-size: 64px;
    color: #131313;
}
.header-description{
    color: #727272;
    margin-top: 30px;
}
.explore-btn{
    padding: 20px 24px;
    margin-top: 30px;
    color: #FFFFFF;
    font-size: 20px;
    background: #FF900E;
border-radius: 8px;
border: 0;
}
.banner{
    width: 1150px;
    height: 700px;
    margin-top: 50px;
}
.banner img{
    width: 100%;
}
.team-and-feature{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}
.full-team{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 690px;
    gap: 24px;
}
.team-img img{
    width: 342px;
    height: 324px;
}
.feature-info{
    position: relative;
    top: 170px;
    left: 84px;
}
.feature-title{
    font-size: 45px;
    color: #727272;
    font-family: 'Work Sans';
    font-weight: 500;
}
strong{
    color: #131313;
}
span{
    
color: #FF900E;
font-weight: 700;
}
.feature-description{
    margin-top: 24px;
    color: #727272;
}

.experience-and-feature{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1100px;
    height: 600px;
    grid-column-gap: 54px;
    margin-top: 100px;
   

}
.feature-title{
    margin-left: 15px;
   
}
#special{
    border-left: 4px solid #FF900E;
    /* height: 100px; */
    /* content: '';
    border-left: 4px solid #FF900E;
    height: 100px; */
}
.detail-of-feature{
    margin-top: 30px;
}
#detail-of-feature{
    margin-top: 20px;
    width: 542px;
    background: #FFFFFF;
box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding: 30px 30px;

}
#feature-title{
color: #131313;
font-size: 20px;
}
#feature-description{
    color: #727272;
    margin-top: 10px;
}
.architect-person img{
    width: 100%;
height: 90%;
    border-radius: 8px;
    
}
.experience-btn{
    padding: 42px 42px;
    background-color: #FF900E;
    border-radius: 8px;
    color: #FFF4E7;
    border: 0;
    position: relative;
    top: 110px;
    left: 560px;
}
.experience-btn .btn-title{
    font-size: 30px;
    font-weight: bolder;
}
.btn-text{
    margin-top: 5px;
}

.facts{
    margin-top: 200px;
}
.facts-title{
    font-size: 45px;
    color: #131313;
}
.fact-des{
    margin-top: 24px;
   color: #727272;
}
.work-done{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    
}
.work-done-info{
    text-align: center;
    border: 1px solid #FF900E;
border-radius: 8px;
padding: 45px 40px;

}
.work-done-info:hover{
    transform: rotate(-90deg);
    transition: transform 1.3s ease-in-out;
}
.number{
    margin-top:9px ;
    font-size: 45px;
}
.name{
    margin-top: 5px;
    font-size: 20px;
    color: #727272;
}
.sponsor{
    margin-top: 100px;
     text-align: center;
}
.sponsor-title{
font-size: 45px;
color: #131313;
}
.sponsor-des{
    margin-top: 24px;
    color: #727272;
}
.sponsor-logos{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.sponsor-logos img{
    filter: grayscale(1);
}
.footer{
    margin-top: 100px;
    text-align: center;
    width: 1150;
    height: 100px;
    background: #FFF4E7;
    display: flex;
    justify-content: center;
    align-items: center;
  margin-bottom: 100px;

}
.footer .text{
    color: #424242;
    font-size: 20px;
}